[Unit]
Description=Slot Checker Service
After=network.target

[Service]
ExecStart=/home/azureuser/instance_scripts/start_slotchecker.sh
Restart=always
User=azureuser
WorkingDirectory=/home/azureuser/instance_scripts/

[Install]
WantedBy=multi-user.target
